body{
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(to right, white, rgb(170, 167, 167));
}
#contador{
    font-size: 30px;
}
button:hover{
    background-color: rgba(6, 184, 6, 0.74);
}
button{
    border-radius: 10px;
    padding: 5px;
}
input{
    height: 30px;
    width: 50px;
}
.girar{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 100px;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#number{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}