@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

body {
    animation-duration: 3s;
    animation-name: slidein;
    background-image: linear-gradient(to right, rgb(243, 245, 157), rgb(255, 152, 238));
    text-align: center;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

h1, h2, h3 {
    font-family: "Honk";
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 50px;
    margin-top: 10%;
}

div.seta {
    width: 50px;
    height: 50px;
    margin: auto; /* Centraliza horizontalmente */
}

input, button {
    margin: auto; /* Centraliza horizontalmente */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    transition: border-color 0.3s ease-in-out;
}

input {
    border: 5px solid rgb(243, 245, 157);
}

button {
    border: 3px solid rgb(255, 152, 238);
}

img {
    width: 200px;
    height: 200px;
    border: 10px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
}
img::hover{
    filter: blur(10px);
}

.secret{
    margin-top: 20%;
    margin-left: 2%;
    margin: auto;
}
